@tailwind base;
@tailwind components;
@tailwind utilities;

img {
  max-width: none;
}

body {
  background: transparent;
  overflow-x: hidden;
}

html {
  overflow-x: hidden;
}

.chat-window::-webkit-scrollbar {
  display: none;
}

.chat-window {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

/* Scrollbar personalizado transparente */
.scrollbar-custom::-webkit-scrollbar {
  width: 6px;
}

.scrollbar-custom::-webkit-scrollbar-track {
  background: transparent;
}

.scrollbar-custom::-webkit-scrollbar-thumb {
  background: transparent;
  border-radius: 3px;
}

/* Firefox */
.scrollbar-custom {
  scrollbar-width: thin;
  scrollbar-color: transparent transparent;
}

.scrollbar-custom:hover {
  scrollbar-color: #9D9FA1 transparent;
}

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;

    --radius: 0.5rem;
  }

}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}

.chat-bubble {
  background-color: #f1f1f1;
  padding: 16px 28px;
  -webkit-border-t-radius: 10px;
  -webkit-border-bottom-left-radius: 2px;
  -moz-border-t-radius: 10px;
  -moz-border-radius-bottomleft: 2px;
  border-radius: 10px;
  border-bottom-left-radius: 2px;
  display: inline-block;
}

.typing {
  align-items: center;
  display: flex;
  height: 17px;
}

.typing .dot {
  animation: mercuryTypingAnimation 1.8s infinite ease-in-out;
  background-color: #ffc989;
  border-radius: 50%;
  height: 7px;
  margin-right: 4px;
  vertical-align: middle;
  width: 7px;
  display: inline-block;
}

.typing .dot:nth-child(1) {
  animation-delay: 200ms;
}

.typing .dot:nth-child(2) {
  animation-delay: 300ms;
}

.typing .dot:nth-child(3) {
  animation-delay: 400ms;
}

.typing .dot:last-child {
  margin-right: 0;
}

@keyframes mercuryTypingAnimation {
  0% {
    transform: translateY(0px);
    background-color: #ffc989;
  }

  28% {
    transform: translateY(-7px);
    background-color: #ffa947;
  }

  44% {
    transform: translateY(0px);
    background-color: #f1f1f1;
  }
}

.my-config {
  --h-accent: 30;
  --s-accent: 100%;
  --l-accent: 50%;
}

.parsed-container img {
  width: 100% !important;
  border-radius: 20px;
}